site_name: ArmoniK Microbenchmarks
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Studies: study.md
  - Infrastructure: components/infrastructure.md
site_url: https://aneoconsulting.github.io/ArmoniK.Microbench 
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
      title: On this page
repo_url: https://github.com/aneoconsulting/ArmoniK.Microbench
repo_name: aneoconsulting/ArmoniK.Microbench
theme:
  name: material
  features:
    - content.code.copy
    - content.code.annotate 
    - content.tooltips
  palette:
    primary: white
    accent: orange
